<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='book.png') }}"/>
		<meta charset="UTF-8" />
		<link href="{{ url_for('static', filename='base.css') }}" rel="stylesheet" />
		<link href="{{ url_for('static', filename='searchBooks.css') }}" rel="stylesheet" />
		<title>Book Recommender System</title>
	</head>
	<body>
		<div class="wrapper">
			{% include 'header.html' %}
			<div class="search-container">
				<div class="search-title">Find Your Books</div>
				<form class="search-form" action="/recommend_books" method="post">
					<select class="dropdown" name="searchBy" id="searchBy">
						<option value="bookname">Book Name</option>
						<option value="author">Author name</option>
						<option value="publisher">Publisher Name</option>
						<option value="year">Year</option>
						<option value="location">Location</option>
					</select>
					<input
						id="user-input"
						name="user-input"
						type="text"
						placeholder="Enter the input"
						class="form-control search-bar"
					/><br />
					<input type="submit" class="search-btn" value="Search" />
				</form>
			</div>
			<div class="recommended-books">
				{% for i in range(bookList|length) %}
				<div class="book-category-wrapper">
					<p class="recommendation-title">{{bookList[i].title}}</p>
					<div class="list-container">
						{% for j in range(bookList[i].books|length) %}
						{% include 'card.html' %}
						{% endfor %}
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</body>
</html>
